/*
 * all react components' css is here
 */

/*
 * NavBar component
 */
.NavBar {
  z-index: 500;
}

/* the join button in the navbar */
.NavBarSignin button {
   color: #ff6161;
   border-color: #ff6161;
}
.NavBarSignin button:hover {
  color: #ffffff;
  background-color: #ff6161;
  border-color: #ff6161;
}
.NavBarSignin button:active,.NavBarSignin button:focus {
  color: #eeeeee !important;
  background-color: #c04646 !important;
  border-color: #c04646 !important;
  outline: none !important;
  box-shadow: none !important;
}

/*
 * Avatar compoent
 */
.Avatar {
 display: inline-block;
}

/*
 * DefaultAvatar component
 */
.DefaultAvatar {
  border-radius: 50%;
  background-color: #ff6161;
  width: 38px;
  height: 38px;
  /* line-height: 38px; */
  /* text-align: center; */
}

/*
 * SignupForm component
 */
 .SingupForm {
   margin: 80px auto 20px auto;
   max-width: 300px;
 }

 .SingupForm .h1_form {
   text-align: center;
 }

 .SingupForm .form-control {
   margin-bottom: 14px;
 }

 .SingupForm label {
  margin-bottom: 0 !important;
}

.SingupForm-err-msg {
  color: #d65353;
  font-size: 12px;
}


/*
* VenueBasicInfoCard component
*/


/*
 *
 */
/* .SimpleSearchBox .childClass {
  
} */

/*
 * Fade
 */
.Fade-enter {
  opacity: 0;
  transition: opacity .3s;
}

.Fade-enter-active {
  opacity: 1;
}

.Fade-exit {
  opacity: 1;
  transition: opacity .3s;
}

.Fade-exit-active {
  opacity: 0;
}

/*
 * Banner
 */
 .Banner {
  margin: 8px 8px 0 8px;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: #ffffff;
}

.Banner-icon {
  flex-shrink: 0;
  margin-right: 8px;
}

.Banner-text {
  flex-grow: 1;
  margin-right: 16px;
}

.Banner-button {
  flex-shrink: 0;
  margin-left: 16px;
  text-decoration: underline;
}

.Banner-close {
  flex-shrink: 0;
  margin-left: 16px;
}

/* fade animations */
.Banner-Fade-enter {
  opacity: 0;
  height: 0;
  margin-top: 0;
  transform: scaleY(0);
  transition: .3s;
}

.Banner-Fade-enter-active {
  opacity: 1;
  height: 52px;
  margin-top: 8px;
  transform: scaleY(1);
}

.Banner-Fade-exit {
  opacity: 1;
  height: 52px;
  margin-top: 8px;
  transform: scaleY(1);
  transition: .3s;
}

.Banner-Fade-exit-active {
  opacity: 0;
  height: 0;
  margin-top: 0;
  transform: scaleY(0);
}

/*
 * BannerList
 */
.BannerList {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 960px;
  margin: 0 auto;
  z-index: 5000;
}
