/*
 * Global css (will be loaded by every page)
 */

/* reset */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.thost-card {
box-shadow: 0 1px 1px 0 rgba(10,16,34,.4)!important;
border-radius: 6px;
overflow: hidden;
padding: 16px;
box-sizing: border-box;
transition: .3s;
}

.thost-card:hover {
box-shadow: 0 10px 30px -5px rgba(10,16,34,.2)!important;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.ink-popup {
  border-radius: 2px;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 2px 2px 1px 0 rgba(20, 23, 28, .1);
}

.ink-link-var1 {
  cursor: pointer;
}
.ink-link-var1:hover {
  color: #ef5353;
}

.thost-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* buttons with the-host's styles */
.thost-light-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 2px 2px 1px 0 rgba(20, 23, 28, .1);
  padding: 8px 16px;
  cursor: pointer;
  color: #ff6161;
  transition: .1s;
}

.thost-light-btn:active, .thost-light-btn:focus {
  outline: none !important;
}

.thost-light-btn:active {
  background-color: #c7c7c7 !important;
  color: #c04646;
}

.thost-light-btn:hover {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 2px 2px 2px 1px rgba(20, 23, 28, .1);
}

/* buttons with the-host's styles */
.thost-primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6161;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 2px 2px 1px 0 rgba(20, 23, 28, .1);
  padding: 8px 16px;
  cursor: pointer;
  color: #ffffff;
  transition: .1s;
}

.thost-primary-btn:active, .thost-primary-btn:focus {
  outline: none !important;
}

.thost-primary-btn:active {
  background-color: #c04646 !important;
  color: #c7c7c7;
}

.thost-primary-btn:hover {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 2px 2px 2px 1px rgba(20, 23, 28, .1);
}
