/*
 * Global css (will be loaded by every page)
 */

 .thost-card {
  box-shadow: 0 1px 1px 0 rgba(10,16,34,.4)!important;
  border-radius: 6px;
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
  transition: .3s;
 }

 .thost-card:hover {
  box-shadow: 0 10px 30px -5px rgba(10,16,34,.2)!important;
 }

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.ink-popup {
  border-radius: 2px;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 2px 2px 1px 0 rgba(20, 23, 28, .1);
}

.ink-link-var1 {
  cursor: pointer;
}
.ink-link-var1:hover {
  color: #ef5353;
}

.thost-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
