body {
  background-color: #fcfcfc;
}

.venue-container {
  max-width: 1024px;
}

.main-img-container {
  margin: 16px 0;
}

.basic-info-container {
  margin: 16px 0;
}

.MainInfoContainer {
  margin-top: 16px;
}

.MainInfoContainer .thost-card {
  margin-bottom: 32px;
}

.action-container {
  background-color: #f04944;
  height: 57px;
  color: #fcfcfc;
  margin: 12px 0;
  box-sizing: border-box;
  line-height: 25px;
}

.InfoSideContainer {
  margin-top: 16px;
}

.InfoSideContainer .thost-card {
  margin-bottom: 32px;
}

.StaticMapCard.thost-card {
  padding: 0;
}
