body {
  background-color: #fcfcfc;
}

.venue-container {
  max-width: 1024px;
}

.main-img-container {
  margin: 16px 0;
}

.basic-info-container {
  margin: 16px 0;
}

.MainInfoContainer {
  margin-top: 16px;
}

.MainInfoContainer .thost-card {
  margin-bottom: 32px;
}

.action-container {
  background-color: #ff6161;
  padding: 0;
  height: 57px;
  color: #fcfcfc;
  margin: 12px 0;
  box-sizing: border-box;
  line-height: 25px;
  transition: .5s;
}

.row.sticky-bar {
  margin-bottom: 81px;
}

.action-container.sticky-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 500;
  border-radius: 0;
  box-shadow: initial !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.action-container.sticky-bar:hover {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.action-bar {
  max-width: 980px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.bar-content {
  flex-grow: 1;
}

.action-bar .book-btn {
  height: 42px;
  flex-shrink: 0;
  color: rgb(0, 132, 137) !important;
}

.InfoSideContainer {
  margin-top: 16px;
}

.InfoSideContainer .thost-card {
  margin-bottom: 32px;
}

.StaticMapCard.thost-card {
  padding: 0;
}

.BookForm {
  background-color: #ffffff;
  padding: 24px;
  position: relative;
}

.BookForm-title {
  font-weight: 800;
}

.BookForm-section {
  padding: 8px 0;
  box-sizing: border-box;
}

.BookForm-section:last-of-type {
  padding: 16px 0 0 0;
}

.policy-checkbox-container {
  max-width: 312px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.policy-checkbox-container input {
  margin-right: 10px;
}

.policy-checkbox-container a {
  opacity: .5;
  text-decoration: underline;
}

.BookForm .react-datepicker__day--selected, 
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: rgb(0, 132, 137) !important;
}

.BookForm .react-datepicker__day--selected, .react-datepicker__day:hover {
  border-radius: 0 !important;
}

.BookForm .react-datepicker__time-list {
  padding-left: 7px;
}

.BookForm .react-datepicker__navigation {
  outline: none !important;
}

.BookForm .react-datepicker__time {
  border-radius: 4px;
}

.BookForm-people-select {
  max-width: 312px;
  width: 100%;
  height: 30px;
}

.BookForm .book-btn {
  width: 100%;
  height: 48px;
  background-color: rgb(0, 132, 137) !important;
}

.BookForm .close-btn {
  font-size: 42px;
  opacity: .5;
  cursor: pointer;
  transition: .3s;
  position: absolute;
  top: 28px;
  right: 16px;
}

.BookForm .close-btn:hover {
  transform: rotateZ(90deg);
  opacity: 1;
  color: #ff6161;
}

.cancellation-policy-content p {
  padding: 6px 0 12px 0;
}

.cancellation-policy-content ul {
  padding-left: 42px;
}
